<h3><%= @orders.customer.last_name %><%= @orders.customer.first_name %>さんの注文履歴</h3>
<table>
  <thead>
    <tr>
      <td>購入日時</td>
      <td>注文個数</td>
      <td>注文ステータス</td>
    </tr>
  </thead>
  <tbody>
    <% @orders.each do |order| %>
    <tr>
      <td><%= order.created_at %></td>
      <td>注文個数</td>
      <td>注文ステータス</td>
    </tr>
    <% end %>
  </tbody>
</table>